<div class="dropdown" >
  <button class="nav-link dropdown-toggle text-dark" id="DropDownMenu" data-toggle="dropdown">
    {{Category.name}}
  </button>
  <ul class="dropdown-menu" aria-labelledby="DropDownMenu">
    <li *ngFor="let item of Category.dropDownItem">
      <div *ngIf="isValid;else nestedDropDown">
        <a class="nav-link text-dark">{{item.name}}</a>
      </div>
      <ng-template #nestedDropDown>
        <nav-nav-dropdown [Category]="item"></nav-nav-dropdown>
      </ng-template>
    </li>
  </ul>
</div>











<!--<div [ngSwitch]="Category">
  <div class="dropdown" *ngSwitchCase="CatEnum.Industries">
    <button class="nav-link dropdown-toggle text-dark" id="IndustryDropDown" data-toggle="dropdown">
      Industries
    </button>
    <ul class="dropdown-menu" aria-labelledby="IndustryDropDown">
      <li *ngFor="let IndustryItem of IndustriesItemsPaceholder">
        <a></a>
      </li>
    </ul>
  </div>
  <div *ngSwitchCase="CatEnum.Products">
    <a class="nav-link text-dark">Products</a>
  </div>
  <div *ngSwitchCase="CatEnum.Company">
    <a class="nav-link text-dark">Company</a>
  </div>
  <div *ngSwitchCase="CatEnum.Contact_Us">
    <a class="nav-link text-dark">Contact Us</a>
  </div>
  <div *ngSwitchCase="CatEnum.Support">
    <a class="nav-link text-dark">Support</a>
  </div>
</div>-->

