<div [ngSwitch]="Category">
  <div class="dropdown" *ngSwitchCase="CatEnum.Industries">
    <button class="nav-link dropdown-toggle text-dark" id="IndustryDropDown" data-toggle="dropdown">
      Industries
    </button>
    <ul class="dropdown-menu" aria-labelledby="IndustryDropDown">
      <li *ngFor="let IndustryItem of IndustriesItemsPaceholder">
        <a>{{IndustryItem}}</a>
      </li>
    </ul>
  </div>
  <div *ngSwitchCase="CatEnum.Products">
    <a class="nav-link text-dark">Products</a>
  </div>
  <div *ngSwitchCase="CatEnum.Company">
    <a class="nav-link text-dark">Company</a>
  </div>
  <div *ngSwitchCase="CatEnum.Contact_Us">
    <a class="nav-link text-dark">Contact Us</a>
  </div>
  <div *ngSwitchCase="CatEnum.Support">
    <a class="nav-link text-dark">Support</a>
  </div>
</div>

