<li class="nav-item">
  <div [ngSwitch] = "Category">
    <div *ngSwitchCase="0">
      <a class="nav-link text-dark">Test</a>
    </div>
    <div *ngSwitchCase="1">
      <a class="nav-link text-dark">Try</a>
    </div>
    <!--<div *ngSwitchCase="dropDownCategories">
      <a class="nav-link text-dark">Test</a>
    </div>
    <div *ngSwitchCase="dropDownCategories">
      <a class="nav-link text-dark">Test</a>
    </div>
    <div *ngSwitchCase="dropDownCategories">
      <a class="nav-link text-dark">Test</a>
    </div>-->
   </div>
</li>
